.contianer{
 display: flex;
 justify-content: center;
 align-content: center;
 
 margin-top: 30px;
}
.cards-grid-wrap {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
max-width: 90%;
    }
     .card_img{
        max-height: 150px;
        display: flex;
        margin-bottom: 15px;
    }
   
    .card_inner{
        display: flex;
        justify-content: center;
    }
    .beerName{
        font-weight: 800;
        color: #3e4c45;
        font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Rubik', sans-serif;
       
    }
    .card_item{
       
        padding: 10px;
        background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
border-radius: 6px;




        
    }
    .txtcard{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-size: 12px;
        
        
    }
    .navBarContainer{
        background-color:white ;
        width: 100%;
        margin-top: -10px;
        min-height: 150px;
        display: flex;
        justify-content: center;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
       
    
    }
    .navBarContainer img {
        max-height: 100px;
        padding: 10px;
    }
.navBar{
   
    padding: 2px;
    text-align: center;
}
    .textcard{
        width: 50%;
        float: left;
        padding: 1px;
        justify-content: space-between;
        color: orange
        
      
    }
    .vol{
        text-align: right;
    }
    .detail-box{
        display: flex;
        flex-direction:column;
       
    
    }

    .card_item:hover{
        border-radius: 8px;
        box-shadow: 3px 1px 10px lightgray;
        backdrop-filter: blur(6.1px);
       -webkit-backdrop-filter: blur(6.1px);
    }
    body{
        background-color: white;
    }
   
    .seeMore{
        margin-top: 10px
        
    }
    .adbanner{
        width: 100%;
        margin-bottom: 50px;
        max-height: 200px;
        margin: 0px;
        display: block;
    }
   





    /* resposive design */
    @media screen and (max-width: 900px) {
        .cards-grid-wrap {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(10, 1fr);
            grid-column-gap: 5px;
            grid-row-gap: 5px;
            max-width: 95%;
        }
      }
      @media screen and (max-width: 1200px) {
        .cards-grid-wrap {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-column-gap: 5px;
            grid-row-gap: 5px;
            max-width: 95%;
        }
      }

